.galeria {
  padding: $separcion 0;
  h3 { text-align: center;}
         }

.galeria-imagenes {

  padding: 0;  //elimina borde izq
  
   list-style: none;
   margin-top: $separcion;
   
     li {
     margin-bottom: 1rem; 
        }
    @include grid(2, $separcion);
    @include tablet {
        @include grid(4, $separcion / 2);
                    }
                    
    @include desktop {
        @include grid(6, $separcion / 2);
                    }               
                  }       
 
.imagengrande {
 position: fixed;
 background-color: rgba(0,0,0,.5);
 width: 100%;
 height: 100%;
 top: 0;
 display: grid;
 place-items: center;

              }  
              
              
 .btn-cerrar {
  color: $negro;
  font-size: 3rem;
  background-color: $blanco;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  font-weight: $black;
  border-radius: 50%;
    &:hover {
      cursor: pointer;
            }
              }             